{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sss</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header id="header">
    <div id="hamb"></div>
    <div class="left">Уют</div>
    <div class="data">
        <div class="top">8-800-000-00-00</div>
        <div class="bot">пн-пт с 8 до 11</div>
    </div>
    <div class="nav">
        <a href="./">Главная</a>
        <a href="./flats">Участки</a>
        <a href="./flats">Квартиры</a>
        <a href="/blog">Блог</a>
        <a href="">Контакты</a>
    </div>
    <div class="call">
        <div class="icon"></div>
        <div class="text">Заказать звонок</div>
    </div>
</header>
<article>
    <main role="main">
        <article>
            <div class="header">Недвижимость в Красноярске</div>
            <div class="subHeader">Подзаголовок</div>
        </article>
        <section class="filter">
            <form method="get" action="flats/">
                <input id='type' class="down" type="text" name="t" value="{{ current_name }}" placeholder="Тип объекта">
                <input id='dist' class="down" type="text" name="d" value="{{ current_name }}" placeholder="Район">
                <div class="buttons down bb">
                    <div class="text">Команты</div>
                    <div class="rooms">
                        <div class="room">1</div>
                        <div class="room">2</div>
                        <div class="room">3</div>
                        <div class="room">4</div>
                        <div class="room">5+</div>
                    </div>
                </div>
                <input class="sub sb" type="submit" value="Найти">
                <div class="contain">
                    <div class="label">От</div>
                    <div class="inWrapp">
                        <input type="text" class="in">
                        <div class="text">руб.</div>
                    </div>
                </div>
                <div class="contain">
                    <div class="label">До</div>
                    <div class="inWrapp">
                        <input type="text" class="in">
                        <div class="text">руб.</div>
                    </div>
                </div>
            </form>
        </section>
    </main>
<script type="text/javascript">
    var input = document.getElementById('type'),
        parent = input.parentNode,
        select = document.createElement('SELECT');

    select.id = input.id;
    select.name = input.name;
    select.options.add(new Option(''));
    select.options.add(new Option('1'));
    select.options.add(new Option('2'));
    select.options.add(new Option('3'));
    select.options.add(new Option('4'));

    parent.insertBefore(select, input);
    parent.removeChild(input);
</script>
<script type="text/javascript">
    var input = document.getElementById('dist'),
        parent = input.parentNode,
        select = document.createElement('SELECT');

    select.id = input.id;
    select.name = input.name;
    select.options.add(new Option(''));
    select.options.add(new Option('1'));
    select.options.add(new Option('2'));
    select.options.add(new Option('3'));
    select.options.add(new Option('4'));

    parent.insertBefore(select, input);
    parent.removeChild(input);
</script>
    <section class="orders">
        <div class="header">Специальные предложения</div>
        <div class="subHeader">Лучшие предложения квартир, новостроек и коттеджей.</div>
        <div class="objects">
            <div class="object">
                <div class="back">
                    <div class="price">
                        <div class="text"> 1000000 руб.</div>
                    </div>
                </div>
                <div class="descr">
                    <div class="top">
                        <div class="rooms"> 3 комн</div>
                        <div class="adress">Улица пушкина, дом Колотушкина</div>
                    </div>
                    <div class="bottom">
                        <div class="row">
                            <div class="left">Площадь</div>
                            <div class="right">144кв</div>
                        </div>
                        <div class="row">
                            <div class="left">Цена за квадрат</div>
                            <div class="right">74999</div>
                        </div>
                        <div class="row">
                            <div class="left">В ипотеку</div>
                            <div class="right">74999/мес</div>
                        </div>
                        <div class="row">
                            <div class="left">Этажность / этаж</div>
                            <div class="right">13/11</div>
                        </div>
                    </div>

                </div>

                <div class="button">
                    <div class="text">Подробнее</div>
                </div>
            </div>
            <div class="object">
                <div class="back">
                    <div class="price">
                        <div class="text"> 1000000 руб.</div>
                    </div>
                </div>
                <div class="descr">
                    <div class="top">
                        <div class="rooms"> 3 комн</div>
                        <div class="adress">Улица пушкина, дом Колотушкина</div>
                    </div>
                    <div class="bottom">
                        <div class="row">
                            <div class="left">Площадь</div>
                            <div class="right">144кв</div>
                        </div>
                        <div class="row">
                            <div class="left">Цена за квадрат</div>
                            <div class="right">74999</div>
                        </div>
                        <div class="row">
                            <div class="left">В ипотеку</div>
                            <div class="right">74999/мес</div>
                        </div>
                        <div class="row">
                            <div class="left">Этажность / этаж</div>
                            <div class="right">13/11</div>
                        </div>
                    </div>

                </div>

                <div class="button">
                    <div class="text">Подробнее</div>
                </div>
            </div>
            <div class="object">
                <div class="back">
                    <div class="price">
                        <div class="text"> 1000000 руб.</div>
                    </div>
                </div>
                <div class="descr">
                    <div class="top">
                        <div class="rooms"> 3 комн</div>
                        <div class="adress">Улица пушкина, дом Колотушкина</div>
                    </div>
                    <div class="bottom">
                        <div class="row">
                            <div class="left">Площадь</div>
                            <div class="right">144кв</div>
                        </div>
                        <div class="row">
                            <div class="left">Цена за квадрат</div>
                            <div class="right">74999</div>
                        </div>
                        <div class="row">
                            <div class="left">В ипотеку</div>
                            <div class="right">74999/мес</div>
                        </div>
                        <div class="row">
                            <div class="left">Этажность / этаж</div>
                            <div class="right">13/11</div>
                        </div>
                    </div>

                </div>

                <div class="button">
                    <div class="text">Подробнее</div>
                </div>
            </div>
            <div class="object">
                <div class="back">
                    <div class="price">
                        <div class="text"> 1000000 руб.</div>
                    </div>
                </div>
                <div class="descr">
                    <div class="top">
                        <div class="rooms"> 3 комн</div>
                        <div class="adress">Улица пушкина, дом Колотушкина</div>
                    </div>
                    <div class="bottom">
                        <div class="row">
                            <div class="left">Площадь</div>
                            <div class="right">144кв</div>
                        </div>
                        <div class="row">
                            <div class="left">Цена за квадрат</div>
                            <div class="right">74999</div>
                        </div>
                        <div class="row">
                            <div class="left">В ипотеку</div>
                            <div class="right">74999/мес</div>
                        </div>
                        <div class="row">
                            <div class="left">Этажность / этаж</div>
                            <div class="right">13/11</div>
                        </div>
                    </div>

                </div>

                <div class="button">
                    <div class="text">Подробнее</div>
                </div>
            </div>

        </div>
    </section>
    <section class="blog">
        <div class="header">Наш блог</div>
        <div class="posts">
            {% for post in posts  %}
            <div class="post">
                <div class="back" style="background: url('{{ post.img }}') no-repeat center; background-size: cover"></div>
                <div class="descr">
                    <div class="date">{{ post.created_date }}</div>
                    <a  href="blog/{{ post.identif }}" class="title">{{ post.title }}
                    </a>
                    <div class="text">
                       {{ post.short_text }}
                    </div>
                    <div class="tag">Раздел</div>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="button">
            <a class="text" href="/blog">Читать больше</a>
        </div>
    </section>
    <footer>
        <div class="botnav">
            <div class="nav">
                <a>Главная</a>
                <a>Квартиры</a>
                <a>Участки</a>
                <a>Блог</a>
                <a>Контакты</a>
            </div>
            <div class="contacts">
                <div class="phone">
                    +78000000000
                </div>
                <div class="mail">
                    example@gmail.com
                </div>
            </div>
        </div>
        <div class="adress">
            <div class="left">
                <div class="town">Красноярск</div>
                <div class="phone">8-800-444-44-44</div>
                <div class="mail">example@gmail.com</div>
                <div class="adres">проспект мира  дом  33 оф 333</div>
                <div class="socs">
                    <a class="vk"></a>
                    <a class="inst"></a>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
    </footer>
    <script src="js/opener.js"></script>
</article>
</body>
</html>